@utility box {
  /*
BOX
More info: https://every-layout.dev/layouts/box/#the-generator
*/
  background: var(--color-light);
  color: var(--color-dark);
  padding: var(--space-s-m);

  & * {
    color: inherit;
  }

  &.invert {
    background: var(--color-dark);
    color: var(--color-light);
  }
}

@utility invert {
  &.box {
    background: var(--color-dark);
    color: var(--color-light);
  }
}