@utility icon {
  /* 
ICON
From Every Layout: https://every-layout.dev/layouts/icon/
*/
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;

  .with-icon & {
    margin-inline-end: 1rem;
  }
}

@utility with-icon {
  display: inline-flex;
  align-items: baseline;

  & .icon {
    margin-inline-end: 1rem;
  }
}