---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <article class="wrapper flow">
    <h1>CUBE CSS core setup</h1>
    <div class="switcher">
      <h2 class="text-primary">A heading and paragraph in two columns</h2>
      <p>
        Donec sed odio dui. Donec sed odio dui. Vivamus sagittis lacus vel augue
        laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue
        laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur et.
      </p>
    </div>
  </article>
</Layout>
