@import 'tailwindcss/base';

@import 'global/reset.css';
@import 'global/fonts.css';

@import 'tailwindcss/components';

@import 'global/variables.css';
@import 'global/global-styles.css';
/* 
See issue: https://github.com/frankstallone/astro-cube-boilerplate/issues/1
Reference source: https://github.com/Set-Creative-Studio/cube-boilerplate/blob/main/src/css/global.css#L11

@import-glob 'blocks/*.css';
@import-glob 'components/*.css';
@import-glob 'utilities/*.css'; 
*/

@import 'blocks/prose.css';
@import 'components/box.css';
@import 'components/cluster.css';
@import 'components/flow.css';
@import 'components/grid.css';
@import 'components/icon.css';
@import 'components/repel.css';
@import 'components/sidebar.css';
@import 'components/switcher.css';
@import 'components/wrapper.css';
@import 'utilities/region.css';
@import 'utilities/visually-hidden.css';

@import 'tailwindcss/utilities';